.App {
  min-height: 100vh;
}

* {
  background-color: #6c757d;
  color: white;
  scroll-behavior: smooth;
  font-weight: bold;
  box-sizing: border-box;
}

#toggler,
.navbar label {
  display: none; /*Hide the checkbox and label on large screens.*/
}
